@font-face {
  font-family: 'Garet';
  src: url('./Garet-Heavy.woff2') format('woff2'),
      url('./Garet-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

img {
  padding: 0;
  margin: 0;
}

.page {
  max-inline-size: 1326px; 
  font-family: 'Garet', 'Roboto', Arial, sans-serif;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 1000;
  font-family: Arial, sans-serif;
}

.popup__content {
  background: white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 90%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.popup__close {
  position: absolute;
  top: 0;
  right: 12px;
  font-size: 30px;
  cursor: pointer;
}

.popup-button {
  font-family: Arial, sans-serif;
  font-weight: 500;
  background-color: transparent;
  padding: 0 5px;
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  z-index: 5;
  right: 10px;
  top: 10px;
  transition: 0.3s;
  font-size: 12px;
}

.popup-button:hover {
  background-color: white;
  color: #0056b3;
}

.banner {
  position: relative;
  max-inline-size: 1326px; 
  inline-size: 100%;
  block-size: 300px;
  background-image: url(./background.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  padding-block-start: 40px;
  padding-inline-start: 72px;
  overflow: hidden;
}

.banner__left {
  max-inline-size: 380px;
}

.banner__titel-image {
  position: relative;
  top: 13px; 
  left: 0; 
} 

.banner__titel {
  /* font-size: clamp(1.875rem, 0.982rem + 2.381vw, 3.125rem); */
  font-size: clamp(1.875rem, 1.585rem + 1.859vw, 3.125rem);
  text-transform: uppercase;
  line-height: 62px;
  color: white;
}

.banner__text {
  font-size: clamp(1rem, 0.196rem + 1.31vw, 1.375rem);
  line-height: 1.2;
  margin-block-start: 5px;
  color: #debf67;
  background:  linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(236, 209, 142) 0%, rgba(229,191,94,1) 50%, rgba(197,142,42,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner__right {
  position: relative;
  inline-size: 748px; 
}

.banner__image {
  position: absolute;
  bottom: 0;
  inline-size: 100%;
  width: 748px;
}

.banner__logo-container {
  background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(57,35,167,1) 0%, rgba(63,108,214,1) 100%);
  position: absolute;
  top: 120px;
  right: 0;
  inline-size: 212px;
  block-size: auto;
  border-radius: 10px 0 0 10px;
  padding: 10px 20px;
}


@media (max-width: 851px) {
  .banner {
    padding-inline-start: 5px;
  }

  .banner__titel {
    line-height: 46px;
    margin-top: 20px;
  }

  .banner__titel-image {
    width: 60px;
  }
}


@media (max-width: 640px) {
  .banner__titel-image {
    display: none;
  }

  .banner__titel {
    margin-top: 50px;
  }

  .banner__image {
    width: 622px;
  }

  .banner__logo-container {
    inline-size: 146px;
  }

  .sea {
    width: 109px;
  }
}

@media (max-width: 604px) {
  .banner__titel {
    font-size: clamp(1.063rem, 0.268rem + 5.085vw, 2.188rem);
  }

  .banner__text {
    font-size: clamp(0.75rem, 0.573rem + 1.13vw, 1rem);
  }
}

@media (max-width: 591px) {
  .banner__right {
    inline-size: clamp(24.313rem, -7.024rem + 112.925vw, 34.688rem);
  }

  .banner__titel {
    line-height: 34px;
    margin-top: 60px;
  }
}

@media (max-width: 444px) {
  .banner__image {
    width: 398px;
  }

  .sea {
    width: 81px;
  }

  .banner__logo-container {
    inline-size: 108px;
    top: 182px
  }

}

@media (max-width: 384px) {
  .banner__titel {
    line-height: 26px;
    margin-top: 88px;
  }
}

@media (max-width: 375px) {
 .banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
 }

 .banner__image {
    right: 2px;
  }

  .banner__titel {
    line-height: 34px;
    margin-top: 29px;
  }

}

@media (max-width: 250px) {
  .banner {
    display: none;
  }
}